/*
  Code Block styles
*/
.block.code {
  > .code-block-wrapper {
    &.edit {
      &.dark {
        > textarea {
          caret-color: #fff;
        }
      }

      &.light {
        > textarea {
          caret-color: #657b83;
        }
      }

      > textarea {
        overflow: hidden;
        width: 100%;
        padding: 10px;
        border: 0px;
        background-color: whitesmoke;
        outline: none;
        resize: none;
      }
    }

    &.wrapLongLines {
      code[class*='language-'],
      pre[class*='language-'] {
        white-space: pre-wrap;
      }
    }

    > .code-toolbar {
      .toolbar {
        left: initial;
        display: initial;
        padding: initial;
        border-radius: initial;
        background-color: initial;
        box-shadow: initial;
        transform: initial;
      }
    }
  }
}
